body {
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: calibri;
  background-color: #EEE;
}

.container {
  display: grid;
}

.main_title {
  font-weight: 300;
  margin: 3rem auto;
  font-size: 3rem;
}

.search_bar {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  line-height: 3rem;
  display: block;
  margin: 0 auto;
  border: solid #DDD 1px;
  border-radius: 10px;
}

.search_bar:focus {
  outline: none;
}

.button {
  display: block;
  font-size: 1.5rem;
  margin: 2rem auto;
  width: 80%;
  height: 3.5rem;
  border: solid #FFF 1px;
  border-radius: 10px;
  background-color: rgba(0, 125, 255, 0.5);
  color: white;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 125, 255, 0.9);
  border: solid white 1px;
}


/* Movies */

.movie_container {
  margin: 1rem;
  padding: 0 2rem;
  border: solid #DDD 1px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(0, 125, 255, 0.1);
}

.movie_img {
  width: 100%;
  border-radius: 5px;
}

.movie_title {
  font-size: 3rem;
  font-weight: 200;
}

.movie_details {
  font-size: 1.3rem;
  font-weight: 300;
}

@media (min-width: 500px) {
  .movie_container {
    max-width: 500px;
    margin: 1rem auto;
  }
}

@media (min-width: 1000px) {

  .search_bar, .button {
    max-width: 600px;
  }
  .movies_container {
    margin: auto;
    max-width: 1000px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns:  1fr 1fr;
  }

}
